@import "nulstyle.scss";

// шрифти
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

.wrapper {
  // position: relative;
  padding: 0 2px;
  // width: 100%;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0px 10px;
}
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: white;
}
.header__body {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

// бургер для меню
.header__burger {
  display: block;
  position: fixed;
  width: 30px;
  height: 20px;

  right: 10%;

  span {
    position: absolute;
    background-color: rgb(36, 72, 79);
    left: 40%;
    width: 60%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
//  бургер в хрестик
.header__burger::before,
.header__burger::after {
  content: " ";
  background-color: rgb(36, 72, 79);
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
  transition: all 0.3s ease 0s;
}
.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
  transition: all 0.3s ease 0s;
}
.header__burger.active span {
  transform: scale(0);
  transition: all 0.3s ease 0s;
}

//  заголовок
.fullscreen {
  padding-top: 90px;
  height: 450px;
  // height: 1200px;
  display: flex;
  flex-direction: column;
  background: rgb(246, 246, 246);
}
.fullscreen__h {
  margin: 50px 0 60px 0;
  text-align: center;
  color: #10cab7;
  font-size: 55px;
  letter-spacing: -3px;
  line-height: 67px;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
}
.fullscreen__text {
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #2c4755;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

// меню
.meny {
  overflow: auto;
  position: fixed;
  right: 0;
  top: -200%;
  width: 40%;
  height: 100%;
  transition: all 1s ease 0.2s;
  background-color: #2c4755;
  z-index: 49;
  box-shadow: 0px 0px 10px;
}

.activeMeny {
  top: 0;
  z-index: 53;
}
.close {
  top: -200%;
}
.meny__link {
  padding: 30px 60px;

  // хрестик меню для закриття
  .meny__close {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
  }

  .meny__close::before,
  .meny__close::after {
    content: " ";
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;
  }
  .meny__close::before {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .meny__close::after {
    transform: rotate(45deg);
    bottom: 9px;
  }
  .meny__close:hover::before {
    background-color: rgb(16, 202, 183);
    transition: all 0.3s ease 0s;
  }
  .meny__close:hover::after {
    background-color: rgb(16, 202, 183);
    transition: all 0.3s ease 0s;
  }

  // текст меню
  p {
    font-size: 21px;
    letter-spacing: -1px;
    line-height: 35px;
    color: #637988;
    font-family: "Work Sans", sans-serif;
  }
  .meny_parOne {
    padding: 25px 0 25px 0;
  }
  .meny_parTwo {
    padding: 60px 0 25px 0;
  }
  .meny_parThree {
    padding: 50px 0 25px 0;
  }
  li {
    font-size: 29px;
    letter-spacing: -1px;
    line-height: 35px;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    padding: 5px 0;
  }
  li:hover {
    color: rgb(16, 202, 183);
    transition: all 0.3s ease 0s;
  }
}

// основний зміст. таблиця один
.table {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
}
.table__box {
  width: 33.4%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 20px;
    line-height: 67px;
    color: rgb(44, 71, 85);
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
  }
  p {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 32px;
    color: #575757;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 0 27% 0;
  }

  .table__img {
    width: 10%;
    img {
      width: 100%;
    }
  }
}

.table__box:hover {
  box-shadow: 5px 20px 20px rgb(235, 236, 236);
}

// блок з назвою 2

.titleTwo {
  width: 100%;
  height: 290px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px 0 90px 0;
}

.titleTwoo__h {
  width: 100%;
  text-align: center;
  line-height: 55px;
  h2 {
    font-size: 162px;
    letter-spacing: -8px;
    color: #f6f6f6;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
  }
  p {
    font-size: 25px;
    letter-spacing: -2px;
    color: #575757;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }
}
.portfolio {
  background-color: rgb(250, 250, 250);
  margin: 90px 0 0 0;
  h2 {
    color: rgb(235, 236, 237);
  }
}

// блок з блоками сервіс
.tableTwo {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  .container {
    display: flex;
  }
  h3 {
    height: 35px;
    font-size: 20px;
    color: black;
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
  }
  p {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 27px;
    color: #4d4c4c;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    text-align: left;
    height: 100%;
    padding: 35px 15px 0 0;
  }
}
.tableTwo__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  height: 440px;
  justify-content: flex-end;
}
.tableTwo__colom {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.tableTwo__textBox {
  display: flex;
  flex-wrap: nowrap;
  height: 200px;
}
.tableTwo__textBox:hover {
  box-shadow: 5px 20px 20px rgb(235, 236, 236);
}
.tableTwo__left {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  .table__img {
    width: 40px;
    height: 40px;
    img {
      width: 100%;
    }
  }
}
.tableTwo__right {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  line-height: -1px;
  flex-wrap: wrap;
  padding: 0 0 0 30px;
}

// квадрат і прямокутник в таблиці 2

.tableTwo__colom3 {
  display: flex;
  flex-wrap: nowrap;
  width: 33.3%;
}
.square {
  position: relative;
  width: 80%;
  height: 340px;
  background-color: rgb(246, 246, 246);
  z-index: 2;
  margin: 40px 0 0 40px;
}
.rectangle {
  position: absolute;
  width: 9%;
  height: 100%;
  background-color: rgb(44, 71, 85);
  z-index: 1;
  right: 0;
}

// таблиця портфоліо 3
.tablePortfolio {
  width: 100%;
  height: 680px;
  // border:1px solid black;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}
.tablePortfolio__box {
  // max-width: 500px;
  max-height: 500px;
  width: 500px;

  // border: 1px solid black;
  margin: 0 15px;
}
.tablePortfolio__foto {
  width: 100%;
  // height: 360px;
  height: 70%;
  background-color: rgb(246, 246, 246);
}
.tablePortfolio__text {
  // height: 30%;
  text-align: left;
  padding: 0 30px 30px 30px;
  h4 {
    font-size: 20px;
    line-height: 67px;
    color: #1f2021;
    // font-family: "Work Sans";
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
  }
  p {
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 27px;
    color: #4d4c4c;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
  }
}
.tablePortfolio__box:hover {
  box-shadow: 5px 20px 20px rgb(235, 236, 236);
}
// заголовок about
.about {
  margin-bottom: 0;
}
// таблиця About
.tableAbout {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
}
.tableAbout__box {
  height: 455px;
  // background-color: red;
  display: flex;
  flex-wrap: nowrap;
}
.tableAbout__left {
  width: 40%;
  height: 100%;
  position: relative;
}
// картинка квадратів
.tableAbout__container {
  width: 445px;
  height: 100%;
  position: relative;
  margin-left: 20px;
}
.first {
  width: 106px;
  height: 100%;
  background-color: rgb(250, 250, 250);
}
.second {
  width: 300px;
  height: 335px;
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 60px;
  background: rgb(246, 246, 246);
  box-shadow: -5px 5px 5px rgb(235, 236, 236);
}

.threed {
  width: 190px;
  height: 290px;
  background-color: rgb(16, 202, 183);
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 1;
}
.four {
  width: 97px;
  height: 260px;
  position: absolute;
  right: -1px;
  top: 0;
  z-index: 2;
  background-color: rgb(255, 255, 255);
}

.tableAbout__right {
  width: 60%;
  height: 100%;
  // padding: 70px 0 0 40px;
}
.Pbold {
  font-size: 20px;
  line-height: 40px;
  color: #334752;
  font-family: "Work Sans";
  font-weight: 800;
  padding: 60px 0 53px 150px;
}

.notBold {
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 32px;
  color: #575757;
  font-family: "Work Sans";
  font-weight: 400;
  padding: 24px 0 0 150px;
}
.tableAbout__line {
  width: 37%;
  height: 5px;
  background-color: rgb(16, 202, 183);
  margin-left: 150px;
}

// заголовок contact
.contact {
  background-color: rgb(250, 250, 250);
  margin: 75px 0 0 0;
  h2 {
    color: rgb(235, 236, 237);
  }
}

// блок з контактами
.tableContact {
  width: 100%;
  position: relative;
  display: flex;
  background-color: rgb(250, 250, 250);
}
.tableContact__box {
  width: 1180px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 160px;
}
.tableContact__mail {
  h4 {
    font-size: 55px;
    letter-spacing: -3px;
    line-height: 67px;
    color: #2c4755;
    font-family: "Work Sans";
    font-weight: 800;
  }
  p {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 67px;
    color: #10cab7;
    font-family: "Work Sans";
    font-weight: 800;
    padding: 40px 50px;
  }
}
.tableContact__social {
  margin: 0 0 0 106px;
  display: flex;
  flex-wrap: nowrap;
  p {
    font-size: 15px;
    letter-spacing: -1px;
    // line-height: 27px;
    color: #334752;
    font-family: "Work Sans";
    font-weight: 400;
    padding: 0 30px 0 0;
  }
  a {
    margin: 2px 0 0 0;
  }
}
.tableContact__icons {
  padding: 0 12px;
}

// footer
.footer {
  width: 100%;
  // height: 100px;
  position: relative;
  background-color: rgb(44, 71, 85);
}
.footer__body {
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__p {
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
  font-family: "Work Sans";
  font-weight: 800;
  span {
    color: rgb(16, 200, 182);
  }
}
// медіа запроси(адаптація)**************************************************
@media (max-width: 1921px) {
  // таблиця з картинками
  .table__box {
    p {
      padding: 0 20% 0;
    }
  }
}
@media (min-width: 1441px) {
  .header__burger {
    right: 27%;
  }
}

@media (min-width: 426px) {
  .table__img {
    padding: 0 0 5% 0;
  }
}

@media (max-width: 1024px) {
  .header__burger {
    right: 2%;
  }
  .tablePortfolio__box {
    // width: 400px;
    height: 80%;
  }
  .tablePortfolio__text {
    padding: 0;
    h4 {
      line-height: 37px;
    }
  }
  .tablePortfolio {
    height: 500px;
  }
  .Pbold {
    padding-top: 0;
  }
}

// адаптив меню 768px
@media (max-width: 768px) {
  .fullscreen {
    height: 100%;
    padding: 10px 0;
    .fullscreen__h {
      margin: 10px 0;
    }
    // padding: 0;
    // margin: 0;
    // display: flex;
    // justify-content: start;
  }
  .header__body {
    z-index: 2;
    display: flex;
    height: 40px;
  }
  .header__logo {
    flex: 0 0 30px;
    img {
      width: 100%;
      display: block;
    }
  }
  .meny {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 52;

    .meny__link {
      padding: 10px 20px;
      p {
        font-size: 15px;
        padding: 10px 0;
      }
    }
    li {
      font-size: 20px;
      line-height: 20px;
      padding: 5px 0;
    }
  }

  //бургер 768px
  .header__burger {
    width: 20px;
    height: 11px;
    span {
      height: 1px;
      top: 5px;
    }
  }
  .header__burger::before,
  .header__burger::after {
    content: " ";
    height: 1px;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 5px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 5px;
  }
  // таблиця 2 сервіс адаптив
  .tableTwo {
    .container {
      right: 0;
    }
  }
  .tableTwo__body {
    width: 100%;
    height: 100%;
    p {
      padding: 10px 0 0 0;
    }
  }
  .tableTwo__colom3 {
    display: none;
  }
  .tableTwo__colom {
    width: 100%;
  }

  // заголовок в контенті
  .titleTwo {
    margin: 0;
    max-height: 200px;
    // width: 100%;
    // max-height: 100%;
  }

  //
  .tablePortfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .tablePortfolio__box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0;
    padding: 0 0 10px 0;
  }
  .tablePortfolio__foto {
    width: 100%;
    height: 360px;
  }
  .tablePortfolio__text {
    padding: 0;
    h4 {
      line-height: 37px;
    }
  }
  // таблиця about
  .tableAbout__box {
    height: 100%;
  }
  .tableAbout__left {
    display: none;
  }
  .tableAbout__right {
    width: 100%;
    .Pbold {
      padding: 0;
    }
    .tableAbout__line {
      margin: 30px auto;
    }
    .notBold {
      padding: 0;
    }
  }
}

@media (max-width: 425px) {
  // меню
  .meny {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 52;
  }
  // таблиця
  .table {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    p {
      padding: 0;
    }
  }
  .table__box {
    width: 100%;
  }
  .table__img {
    padding: 2% 0;
  }
  // заголовок два

  .titleTwoo__h {
    line-height: 32px;
    h2 {
      font-size: 90px;
    }
    p {
      font-size: 10px;
      letter-spacing: 0;
    }
  }
  // таблиця 2 адаптив
  .tableTwo__body {
    display: flex;
    flex-direction: column;
  }
  .tableContact__box {
    padding: 0;
  }
  .tableContact__mail {
    h4 {
      font-size: 25px;
      padding: 0;
      line-height: 0;
    }
    p {
      font-size: 20px;
      padding: 0;
    }
  }
  .tableContact__social {
    margin: 0 0 5px;
    p {
    }
  }
}
